.status-open {
  --mdc-chip-elevated-container-color: #e3f2fd;
  --mdc-chip-label-text-color: #0d47a1;
}

.status-inprogress {
  --mdc-chip-elevated-container-color: #fff8e1;
  --mdc-chip-label-text-color: #8d6d00;
}

.status-closed {
  --mdc-chip-elevated-container-color: #e8f5e9;
  --mdc-chip-label-text-color: #1b5e20;
}
